[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
swig = "*"
gym = {extras = ["box2d"], version = "*"}
pick = "*"


[dev-packages]

[requires]
python_version = "3.10"
